{% extends "admin/header.html.twig" %}
{% block body %}
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid">
				<h1 class="mt-4">Dashboard</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table mr-1"></i>
						Add Doctor
					</div>
					<div class="card-body">
						<div class="table-responsive">
							{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
							{{ form(form) }}
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>{% endblock %}
